BasedOnStyle: LLVM
ColumnLimit: 144
IndentWidth: 2
TabWidth: 2
MaxEmptyLinesToKeep: 2

ReflowComments: false

AlignAfterOpenBracket: Align
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AlignConsecutiveMacros: AcrossEmptyLinesAndComments #ACS_Consecutive
AlignEscapedNewlines: Left
AlignOperands: Align
AlignTrailingComments: true
BinPackArguments: false
BinPackParameters: false
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterEnum: true
