BasedOnStyle: LLVM
ColumnLimit: 144
IndentWidth: 2
TabWidth: 2
MaxEmptyLinesToKeep: 2

AlignAfterOpenBracket: Align
AlignConsecutiveMacros: AcrossEmptyLinesAndComments #ACS_Consecutive
AlignEscapedNewlines: Left
AlignOperands: Align
AlignTrailingComments: true
BinPackArguments: false
BinPackParameters: false
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterEnum: true


#BreakBeforeBraces: Allman, AllowShortIfStatementsOnASingleLine: false, IndentCaseLabels: false, ColumnLimit: 0, AccessModifierOffset: -4, NamespaceIndentation: All, FixNamespaceComments: false }.